* {
    caret-color: transparent;
    border: 1px solid black; 
}

header {
    display: flex; 
    flex-direction: column;
    padding-bottom: 4px;
}

header h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 24px; 
}

header button {
    margin-right: 16px;
}

p {
    margin: 0;
}

.header-input-div {
    display: none;
    flex-direction: column;
}

#new-proj-input {
    max-width: 320px; 
    margin-top: 4px;
    margin-bottom: 8px;
}

.auto-container-div {
    display: flex;
    flex-direction: column;
}

.project-container-div {
    display: flex;
    flex-direction: column;
}

.project-div,
.project-div-auto {
    margin-top: 16px;
    width: 400px;
    min-height: 80px;
    height: 100%;
    padding: 4px;
}

.task-div {

}

.new-task-div {
    display: flex;
    flex-direction: column;
}

.indiv-task-div {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
}

.indiv-task-btn-and-title-div {
    display: flex;
}

.indiv-task-exp-btn {
    
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    gap: 24px;
}

.project-card-space-btwn {
    display: flex;
    justify-content: space-between;
}

.check-button {
    border-radius: 50%;
    width: 20px;
}